<div>
  <app-icon color="primary">person</app-icon>
  <span class="text">Test Person Icon!</span>
</div>

<div>
  <app-button
    color="primary"
    (onClick)="clicked($event)"
  >
    app-button
  </app-button>
</div>

<div>
  <app-button-flat
    color="accent"
    (onClick)="clicked($event)"
  >
    app-button-flat
  </app-button-flat>
</div>

<div>
  <app-button-raised
    color="warn"
    (onClick)="clicked($event)"
  >
    app-button-raised
  </app-button-raised>
</div>
