<h1>
  <strong>Dashboard</strong>
</h1>
<hr />

<stank-card>
  Hello, world!
</stank-card>

<h2>Icons</h2>
<div class="row">
  <div class="col">
    <h3>
      <u [innerText]="'<stank-icon />'"></u>
    </h3>
    <div>
      <stank-icon color="primary">person</stank-icon>
    </div>
  </div>
</div>

<hr />

<h2>Buttons</h2>
<div class="row">
  <div class="col">
    <h3>
      <u [innerText]="'<stank-button />'"></u>
    </h3>
    <div>
      <stank-button
        color="primary"
        (onClick)="clicked($event)"
      >
        Button Text
      </stank-button>
    </div>
  </div>

  <div class="col">
    <h3>
      <u [innerText]="'<stank-button-flat />'"></u>
    </h3>
    <div>
      <stank-button-flat
        color="accent"
        (onClick)="clicked($event)"
      >
        Flat Button Text
      </stank-button-flat>
    </div>
  </div>

  <div class="col">
    <h3>
      <u [innerText]="'<stank-button-icon />'"></u>
    </h3>
    <div>
      <stank-button-icon
        color="accent"
        (onClick)="clicked($event)"
      >
        person_add
      </stank-button-icon>
    </div>
  </div>

  <div class="col">
    <h3>
      <u [innerText]="'<stank-button-raised />'"></u>
    </h3>
    <div>
      <stank-button-raised
        color="warn"
        (onClick)="clicked($event)"
      >
        Raised Button Text
      </stank-button-raised>
    </div>
  </div>
</div>
